h1, h2, h3{
	font-family: 'Domine', serif;	
}
h4, h5, h6, p, a, label{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.lyric_text{
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	padding: 20px 0 0; 

	border: 1px solid #d8d8d8; 
	background: #f9f9f9;
	 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff; 

}
.lyric_text .line{
	margin: 0;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
}
.lyric_text .current{
	color: green;
	font-weight: 700;
}
#input_box{
	display:block;
	width: 100%;
	margin-top: 10px;
}
.plus_points{
	display: none;
	float: right;
	margin: 0px;
}
#lyric_input{
	width: 100%;
	height: 30px;
}
.score{
	display: block;
	width: 150px;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	border: 1px solid #d8d8d8; 
	background: #f9f9f9;
	margin: 0 auto;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff; 

}
.score h3{
	display: inline;
	margin-right: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.accuracy h3{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.left{
	float: left;

}
.right{
	float: right;
	height: 100px;
}
.navbar .container{
	width: 940px;
	margin: 0 auto;
}
#navbar{
	margin-bottom:0px;
	background: white;
}
#navbar-inner{
	background: url(../img/nav.png);
	border: none;
}
#logo{
	color: white;
}
#nav{
	float: right;
}
#nav li a{
	text-shadow: none;
	color: white;
}
#nav li a:hover{
	color: black;
}
#nav li.active a{
	color: black;
	background-color: #FFAC30;
	text-shadow: none;
}
#body{
	background: url(../img/grey.png);
}
.banner{
	width: 100%;
	height: 40px;
	background: #3F4C61;
	font-family: 'Domine', serif;
	color: white;
	padding: 10px 0;
}
.banner h1{
	margin-left: 10px;
	font-size: 29px;
	display: inline;
	font-weight: 400;
	text-shadow: 1px 1px 2px black;
	color: white;
}
.banner img{
	height:30px;
}
.footer{
	width: 100%;
	height: 40px;
	background: url(../img/footer.png);
	margin-top: 40px;
}
.footer h5{
	float: right;
	color: #ccc;
}
.footer a:hover{
	text-decoration: none;
	color: #6CF;
}
#search_panel{
	width: 400px;
	background: white;	
	padding: 20px 0;
	margin: 20px auto 0 auto;
}

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 40px;
}
#footer {
	margin-top: 0px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}