<html>
<head>
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen" >
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" >
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}js/levenshtein.js"></script>
    <script src="{{STATIC_URL}}js/strcmp.js"></script>
    <script type= "text/javascript">    	
    	$(document).ready(function(){
    		var artists= ["The Beatles", "The Rolling Stones", "Pink Floyd", "Madonna", "Michael Jackson", "Led Zeppelin", "Tupac"];
	    	var songs= ["I Want to Hold Your Hand", "Satisfaction", "Hey You", "Holiday", "Thriller", "Stairway to Heaven", "Ambitionz as a Ridah"];
	    	var ind= Math.floor((Math.random()*7));
    		$("#inputArtist").attr("placeholder", artists[ind]);
    		$("#inputSong").attr("placeholder", songs[ind]);
    		$("#search").click(goToLyrics);
    	})
    	function toTitleCase(str)
		{
			str=str.replace(/\b./g, function(m){ return m.toUpperCase(); });
			str=str.replace(/\s/g, "+");
		    return str;
		}
		function goToLyrics(){
    			var artist= toTitleCase($("#inputArtist").val());
				var song= toTitleCase($("#inputSong").val());

				window.location=encodeURI(window.location+"lyriccheck/"+artist+"/"+song+"/lyrics");
				return false;
		}
    </script>
</head>
<body id="body">
	<div id= "navbar" class="navbar navbar-inverse">
		<div id= "navbar-inner" class="navbar-inner" style= "border-radius: 0px; -webkit-border-radius: 0px;">
	    	<div class="container">
  				<a class="brand" id= "logo" href="{% url index %}">TuneType</a>
  			</div>
  		</div>
	</div>
	<div class="container">
		<div class= "row">
			<div class= "span12" style= "text-align: center">
				<h1>TuneType</h1>
				<h4 style="color: #D2D2DD">Type along to your favorite songs!</h3>
			</div>
		</div>
		<div class= "row">
			<div class= "span12" style= "text-align: center">
				<form class="form">
				  <div class="control-group">
				    <label class="control-label" for="inputArtist">Artist</label>
				    <div class="controls">
				      <input type="text" id="inputArtist" placeholder="">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputSong">Song</label>
				    <div class="controls">
				      <input type="text" id="inputSong" placeholder="">
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <button type="submit" id= "search" class="btn">Search</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
		
	</div>
</body>
</head>