{% extends "base.html" %}
{% block page_title %}Type along with your favorite lyrics!{% endblock page_title %}
{% block css %}
<style type="text/css">
  /*Via twitter.github.com/bootstrap/examples/sticky-footer.html */
  /* Sticky footer styles
  -------------------------------------------------- */

  
</style>
{% endblock css %}
{% block javascript %}
<script type= "text/javascript">    	
	$(document).ready(function(){
		var artists= ["The Beatles", "The Rolling Stones", "Pink Floyd", "Madonna", "Michael Jackson", "Led Zeppelin", "Tupac"];
    	var songs= ["I Want to Hold Your Hand", "Satisfaction", "Hey You", "Holiday", "Thriller", "Stairway to Heaven", "Ambitionz as a Ridah"];
    	var ind= Math.floor((Math.random()*7));
		$("#inputArtist").attr("placeholder", artists[ind]);
		$("#inputSong").attr("placeholder", songs[ind]);
		$("#search").click(goToLyrics("training"));
		$("#battle").click(goToLyrics("battle"));
	})
	function toTitleCase(str)
	{
		var regex= /[\s\-_][a-z0-9-_]/;
		str=str.charAt(0).toUpperCase()+str.substring(1,str.length);
		str=str.replace(regex, function(m){ return m.toUpperCase(); });
		str=str.replace(/\s/g, "+");
		return str;
	}
	function goToLyrics(page){
		return function(){
			var artist= toTitleCase($("#inputArtist").val());
			var song= toTitleCase($("#inputSong").val());
			if(page=="training")
				window.location=encodeURI(window.location+"training/"+artist+"/"+song+"/lyrics");
			else if(page==="battle")
				window.location=encodeURI(window.location+"battle/"+artist+"/"+song+"/lyrics");
			return false;
		}
	}
</script>
{% endblock javascript %}
{% block banner %}{% endblock banner %}
{% block container %}
	<div id= "search_panel">
		<div class= "row">
			<div style= "text-align: center">
				<h1>TuneType</h1>
				<h4 style="color: #D2D2DD">Type along to your favorite songs!</h3>
			</div>
		</div>
		<div>
			<div style= "text-align: center">
				<form class="form">
				  <div class="control-group">
				    <label class="control-label" for="inputArtist">Artist</label>
				    <div class="controls">
				      <input type="text" id="inputArtist" placeholder="">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputSong">Song</label>
				    <div class="controls">
				      <input type="text" id="inputSong" placeholder="">
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <button type="submit" id= "search" class="btn btn-danger">Train</button>
				      <a href="" id= "battle" class="btn btn-danger" style="display: none">Battle!</a>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>	
{% endblock container %}