{% extends "base.html" %}
{% block page_title %}Training: {{song}} by {{artist}} {% endblock page_title %}
{% block javascript %}
{% block battle %}active{% endblock battle %}
<script>
	var lyrics, line_num, score, punctuation, lyrics_showing, grunt;
	window.Player= {
		userId: Math.floor(Math.random() * 10000000),
        opponentId: null,
        opponentScore: 0
	}
	$(document).ready(function(){
		onLyricsLoad("{{lyrics}}");		
	})
	
</script>
<script>
    //Load player api asynchronously.
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var done = false;
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '303',
          width: '100%',
          videoId: '{{video_id}}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }
    function onPlayerReady(evt) {
    }
    function onPlayerStateChange(evt) {
        if (evt.data == YT.PlayerState.ENDED && !done) {
            $('#myModal').modal();
           	refreshModal();
            done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }

</script>
<div id=pubnub pub-key="pub-c-c4bd4cf2-8560-42c9-8ce8-0c39f765dedd" sub-key="sub-c-35d69a0e-5143-11e2-aec7-12313f022c90"></div>
<script src=http://cdn.pubnub.com/pubnub-3.1.min.js></script>
<script src= "{{STATIC_URL}}js/battle.js"></script>
<script src="{{STATIC_URL}}js/lyrics.js"></script>
{% endblock javascript %}
{% block banner_img %}img/swords.png{% endblock banner_img %}
{% block banner_title}Training{% endblock banner_title}

{% block container %}
<div class= "row">
	<div class= "span12">
		<h3>{{song}} by {{artist}}</h3>
	</div>
</div>
<div class= "row">
	<div class= "span7 left">
		<div id="player"></div>
		
		<div class= "lyric_text">
			
			<p class= "line current" id= "line1">k</p>
			<p class= "line" id= "line2"></p>
			<p class= "line" id= "line3"></p>
		</div>
		<div id= "input_box">
			<input type="text" placeholder="type lyrics..." id= "lyric_input" onKeyUp="checkInput(event, afterInputBattle)" >						
		</div>
	</div>
	<div class= "span5 right">
		<div id= "player_stats">
			<h2>Player name</h2>
			<div class="alert alert-success plus_points"></div>
			<div class= "score"><h3>0</h3>pts.</div>
			<div style= "text-align: center" class="accuracy"><label>Accuracy:</label><h3>0%</h3></div>
		</div>
		<div id= "opponent_stats">
			<h2>Opponent</h2>
			<div class="alert alert-success plus_points"></div>
			<div class= "score"><h3>0</h3>pts.</div>
			<div style= "text-align: center" class="accuracy"><label>Accuracy:</label><h3>0%</h3></div>
		</div>
	</div>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Game Summary</h3>
	  </div>
	  <div class="modal-body">
	    <label>Accuracy: </label><p id= "accuracy_pts"></p>
	    <div class="progress" id= "accuracy_bar">
		  <div class="bar" style="width: 0%;"></div>
		</div>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
	<div id= "pregame" class= "modal">
		 <div class="modal-header">
		    <h3 id="myModalLabel">Pick your settings</h3>
		 </div>
		 <div class="modal-body">
			 <h4>Practice Karaoke</h4>
			 <h5>{{song}} by {{artist}}</h5>				 
			 <form>
			 	<label class="checkbox">
				    <input id= "nolyrics_checkbox" type="checkbox">No Lyrics
				</label>
				<label class="checkbox">
				    <input id= "punctuation_checkbox" type="checkbox">With Punctuation
				</label>
			 </form>
		</div>
		 <div class="modal-footer">
		    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Play!</button>
		  </div>
	</div>
</div>
<audio id="coin_sound">
	  <source src="{{STATIC_URL}}misc/coin_sound.ogg" type="audio/ogg">
	  <source src="{{STATIC_URL}}misc/coin_sound.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
</audio>
<audio id="grunt">
	  <source src="{{STATIC_URL}}misc/grunt.ogg" type="audio/ogg">
	  <source src="{{STATIC_URL}}misc/grunt.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
</audio>
{% endblock container %}