{% extends "base.html" %}
{% block page_title %}Training: {{song}} by {{artist}} {% endblock page_title %}
{% block javascript %}
<script>
	var lyrics, line_num, score, punctuation, lyrics_showing;
	$(document).ready(function(){
		//http://andrew.hedges.name/experiments/levenshtein/
		lyricsStr= "{{lyrics}}";	
		punctuation=false;
		lyrics_showing= true;
		$("#punctuation_checkbox").change(function(){
			if(this.checked)
				punctuation=true;
			else
				punctuation=false;	
			reprintLyrics();
		})
		
		$("#pregame").modal();
		line_num=0;
		reprintLyrics();	
		$("#nolyrics_checkbox").change(function(){
			if(this.checked)
			{
				$(".lyric_text").hide();
				lyrics_showing=false;
			}				
			else
			{
				$(".lyric_text").show();
				lyrics_showing= true;
			}				
		})		
		score=0;
		$('#pregame').on('hide', function () {
			player.playVideo();			
			reprintLyrics();
				
		})
		$("#lyric_input").focus();
	})
	function reprintLyrics(){
		if(punctuation){
				lyrics= lyricsStr;
			}
		else{
			lyrics= formatLyrics(lyricsStr);				
		}
		lyrics=lyrics.split("|");
		$line1=$("#line1");
		$line2=$("#line2");
		$line3=$("#line3");
		if(line_num===0){
			$(".line").removeClass("current");
			$line1.html(lyrics[line_num]).addClass("current");
			if(line_num+1<lyrics.length)
				$line2.html(lyrics[line_num+1]);
			if(line_num+2<lyrics.length)
				$line3.html(lyrics[line_num+2]);
		}
		else if(line_num>=lyrics.length-1){
			$(".line").removeClass("current");
			$line3.html(lyrics[line_num]).addClass("current");
			if(line_num-1<lyrics.length)
				$line2.html(lyrics[line_num-1]);
			if(line_num-2<lyrics.length)
				$line1.html(lyrics[line_num-2]);
		}
		else{
			$(".line").removeClass("current");
			$line2.html(lyrics[line_num]).addClass("current");
			if(line_num-1<lyrics.length)
				$line1.html(lyrics[line_num-1]);
			if(line_num+1<lyrics.length)
				$line3.html(lyrics[line_num+1]);
		}
	}
	function checkInput(e){
		$a=$("#lyric_input");
		b=lyrics[line_num];
		var same_length= $a.val().length===b.length;
		var enter_pressed= e.keyCode == 13;
		if((lyrics_showing&&enter_pressed)||(!lyrics_showing&&same_length)){			
			var points=b.length-levenshteinenator($a.val(),b);
			$a.val("");
			$("#plus_points").fadeIn('slow');
			$("#plus_points").fadeOut('slow');
			$("#plus_points").html("+"+points+" points");
			score+=points;
			$("#score h3").html(score);
			if(line_num<lyrics.length)
				line_num+=1;
			reprintLyrics();
			$("#accuracy h3").html(calculateAccuracy()+"%");
		}
	}
	function formatLyrics(lyr){
		return removePunctuation(lyr).toLowerCase();
	}
	function removePunctuation(str){
		var punc= ['.',',','!','?','&#39;','-', "'"];
		for (var i=0;i<punc.length;i++){
			var ch= punc[i];
			while(str.indexOf(ch)>=0)
				str=str.replace(ch,'');
		}
		return str;
	}
	function calculateAccuracy(){
		var chars=0;
		for(var i=0;i<line_num;i++){
			chars+=formatLyrics(lyrics[i]).length;
		}
		return Math.round(score/chars*100*100)/100;
	}
	function refreshModal(){		
		var accuracy= calculateAccuracy();
		$("#accuracy_pts").html(accuracy+"%");
		$("#accuracy_bar .bar").css("width", accuracy+"%");
	}

</script>
<script>
    //Load player api asynchronously.
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var done = false;
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '303',
          width: '100%',
          videoId: '{{video_id}}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }
    function onPlayerReady(evt) {
    }
    function onPlayerStateChange(evt) {
        if (evt.data == YT.PlayerState.ENDED && !done) {
            $('#myModal').modal();
           	refreshModal();
            done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }

</script>
{% endblock javascript %}
{% block banner_img %}img/swords.png{% endblock banner_img %}
{% block banner_title}Training{% endblock banner_title}

{% block container %}
<div class= "row">
	<div class= "span12">
		<h3>{{song}} by {{artist}}</h3>
	</div>
</div>
<div class= "row">
	<div class= "span7 left">
		<div id="player"></div>
		
		<div class= "lyric_text">
			
			<p class= "line current" id= "line1">k</p>
			<p class= "line" id= "line2"></p>
			<p class= "line" id= "line3"></p>
		</div>
		<div id= "input_box">
			<input type="text" placeholder="type lyrics..." id= "lyric_input" onKeyUp="checkInput(event)" >						
		</div>
	</div>
	<div class= "span5 right">
		<div class="alert alert-success" id="plus_points"></div>
		<div id= "score"><h3>0</h3>pts.</div>
		<div style= "text-align: center" id="accuracy"><label>Accuracy:</label><h3>0%</h3></div>
	</div>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Game Summary</h3>
	  </div>
	  <div class="modal-body">
	    <label>Accuracy: </label><p id= "accuracy_pts"></p>
	    <div class="progress" id= "accuracy_bar">
		  <div class="bar" style="width: 0%;"></div>
		</div>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
	<div id= "pregame" class= "modal">
		 <div class="modal-header">
		    <h3 id="myModalLabel">Pick your settings</h3>
		 </div>
		 <div class="modal-body">
			 <h4>Practice Karaoke</h4>
			 <h5>{{song}} by {{artist}}</h5>				 
			 <form>
			 	<label class="checkbox">
				    <input id= "nolyrics_checkbox" type="checkbox">No Lyrics
				</label>
				<label class="checkbox">
				    <input id= "punctuation_checkbox" type="checkbox">With Punctuation
				</label>
			 </form>
		</div>
		 <div class="modal-footer">
		    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Play!</button>
		  </div>
	</div>
</div>
{% endblock container %}