.lyrics{
	float: left;
}
#input_box{
	float:left;
	display:block;
}
#input_box #plus_points{
	display: none;
	float: right;
	margin: 0px;
}
#input_box #lyric_input{
}
#input_box #score{
	margin: 0px;
	float: left;
	text-align: right;
	font-size: 16px;
}